<footer class="">
  <div class="bg-slate-100 py-10 lg:py-[60px]">
    <div class="container flex flex-col justify-between gap-x-6 lg:flex-row">
      <div class="sm:max-lg:pb-10 w-full max-w-none pb-0 lg:max-w-[356px]">
        <div class="mb-[27px] sm:mb-[37px]">
          <p class="mb-[12px] text-lg text-neutral-800"><a href="#" class="font-medium text-blue-800 hover:underline">RCS LT, UAB</a> is a cyber security company.</p>
          <p class="text-sm text-neutral-800">
            <span class="font-medium">RCS LT</span> is a publisher of <a href="#" class="text-blue-800 hover:underline">pcrisk.com</a> website and developer of Combo Cleaner anti-malware application.
          </p>
        </div>
        <div class="flex gap-x-4">
          <img src="./img/location.svg" alt="location icon" class="size-11" />
          <div>
            <span class="mb-1 text-sm leading-tight text-blue-800">Address</span>
            <p class="text-sm leading-tight text-neutral-800">18, I. Kanto str, 44296 Kaunas, Lithuania</p>
          </div>
        </div>
      </div>

      <nav class="sm:max-lg:border-t flex w-full max-w-none flex-wrap justify-between gap-10 border-black border-opacity-10 pt-10 sm:flex-nowrap sm:gap-x-8 lg:max-w-[562px] lg:pt-0">
        <div>
          <h2 class="mb-3 font-medium uppercase leading-normal text-blue-800">Main sections</h2>
          <ul class="space-y-3">
            <li>
              <a href="#" class="leading-normal text-neutral-800 hover:text-blue-800 transition-colors">Removal guides</a>
            </li>
            <li>
              <a href="#" class="leading-normal text-neutral-800 hover:text-blue-800 transition-colors">News</a>
            </li>
            <li>
              <a href="#" class="leading-normal text-neutral-800 hover:text-blue-800 transition-colors">Blog</a>
            </li>
            <li>
              <a href="#" class="leading-normal text-neutral-800 hover:text-blue-800 transition-colors">Top antivirus 2023</a>
            </li>
          </ul>
        </div>

        <div>
          <h2 class="mb-3 font-medium uppercase leading-normal text-blue-800">Company</h2>
          <ul class="space-y-3">
            <li>
              <a href="#" class="leading-normal text-neutral-800 hover:text-blue-800 transition-colors">Contact us</a>
            </li>
            <li>
              <a href="#" class="leading-normal text-neutral-800 hover:text-blue-800 transition-colors">Blog</a>
            </li>
            <li>
              <a href="#" class="leading-normal text-neutral-800 hover:text-blue-800 transition-colors">Top antivirus 2023</a>
            </li>
          </ul>
        </div>

        <div>
          <h2 class="mb-3 font-medium uppercase leading-normal text-blue-800">USEFUL RESOURCES</h2>
          <ul class="space-y-3">
            <li>
              <a href="#" class="leading-normal text-neutral-800 hover:text-blue-800 transition-colors">Website scanner</a>
            </li>
            <li>
              <a href="#" class="leading-normal text-neutral-800 hover:text-blue-800 transition-colors">Search this website</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
  <div class="bg-slate-200"></div>
</footer>
