<footer class="">
  <div class="bg-slate-100 py-10 lg:py-[60px]">
    <div class="container flex flex-col justify-between lg:flex-row xl:space-x-6">
      <div class="w-full max-w-none pb-0 sm:max-lg:pb-10 lg:max-w-[356px]">
        <div class="mb-[27px] sm:mb-[37px]">
          <p class="mb-[12px] text-lg text-neutral-800"><a href="#" class="font-medium text-blue-800 hover:underline">RCS LT, UAB</a> is a cyber security company.</p>
          <p class="text-sm text-neutral-800"><span class="font-medium">RCS LT</span> is a publisher of <a href="#" class="text-blue-800 hover:underline">pcrisk.com</a> website and developer of Combo Cleaner anti-malware application.</p>
        </div>
        <div class="flex space-x-4">
          <img src="./img/location.svg" alt="location icon" class="size-11" />
          <div>
            <span class="mb-1 text-sm leading-tight text-blue-800">Address</span>
            <p class="text-sm leading-tight text-neutral-800">18, I. Kanto str, 44296 Kaunas, Lithuania</p>
          </div>
        </div>
      </div>

      <nav class="flex w-full max-w-none flex-row justify-between border-black border-opacity-10 pt-10 max-sm:flex-col max-sm:space-y-10 sm:space-x-8 sm:max-lg:border-t lg:max-w-[562px] lg:pt-0">
        <div>
          <h2 class="mb-3 font-medium uppercase leading-normal text-blue-800">Main sections</h2>
          <ul class="space-y-3">
            <li>
              <a href="#" class="leading-normal text-neutral-800 transition-colors hover:text-blue-800">Removal guides</a>
            </li>
            <li>
              <a href="#" class="leading-normal text-neutral-800 transition-colors hover:text-blue-800">News</a>
            </li>
            <li>
              <a href="#" class="leading-normal text-neutral-800 transition-colors hover:text-blue-800">Blog</a>
            </li>
            <li>
              <a href="#" class="leading-normal text-neutral-800 transition-colors hover:text-blue-800">Top antivirus 2023</a>
            </li>
          </ul>
        </div>

        <div>
          <h2 class="mb-3 font-medium uppercase leading-normal text-blue-800">Company</h2>
          <ul class="space-y-3">
            <li>
              <a href="#" class="leading-normal text-neutral-800 transition-colors hover:text-blue-800">Contact us</a>
            </li>
            <li>
              <a href="#" class="leading-normal text-neutral-800 transition-colors hover:text-blue-800">Blog</a>
            </li>
            <li>
              <a href="#" class="leading-normal text-neutral-800 transition-colors hover:text-blue-800">Top antivirus 2023</a>
            </li>
          </ul>
        </div>

        <div>
          <h2 class="mb-3 font-medium uppercase leading-normal text-blue-800">USEFUL RESOURCES</h2>
          <ul class="space-y-3">
            <li>
              <a href="#" class="leading-normal text-neutral-800 transition-colors hover:text-blue-800">Website scanner</a>
            </li>
            <li>
              <a href="#" class="leading-normal text-neutral-800 transition-colors hover:text-blue-800">Search this website</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
  <div class="flex items-center bg-slate-200 py-5">
    <div class="container flex flex-col items-center justify-between lg:space-x-10 max-lg:space-y-5 lg:flex-row">
      <div class="flex flex-col items-center max-lg:space-y-5 lg:flex-row lg:space-x-6">
        <p class="text-sm leading-tight text-gray-900/60">© 2023 RCS LT, UAB All rights reserved.</p>
        <nav>
          <ul class="flex space-x-3 divide-x divide-gray-900/60 text-center [&>*:not(:first-child)]:pl-3">
            <li class="leading-none">
              <a href="#" class="text-sm leading-none text-gray-900/60 transition-colors hover:text-blue-800">Privacy policy</a>
            </li>
            <li class="leading-none">
              <a href="#" class="text-sm leading-none text-gray-900/60 transition-colors hover:text-blue-800">Site Disclaimer</a>
            </li>
            <li class="leading-none">
              <a href="#" class="text-sm leading-none text-gray-900/60 transition-colors hover:text-blue-800">Terms of use</a>
            </li>
          </ul>
        </nav>
      </div>
      <ul class="flex space-x-5">
        <li class="shrink-0">
          <a href="#" class="transition-opacity hover:opacity-70">
            <img src="./img/socials/fb.svg" alt="facebook" class="size-10" />
          </a>
        </li>
        <li class="shrink-0">
          <a href="#" class="transition-opacity hover:opacity-70">
            <img src="./img/socials/twitter.svg" alt="twitter" class="size-10" />
          </a>
        </li>
        <li class="shrink-0">
          <a href="#" class="transition-opacity hover:opacity-70">
            <img src="./img/socials/in.svg" alt="linkedin" class="size-10" />
          </a>
        </li>
        <li class="shrink-0">
          <a href="#" class="transition-opacity hover:opacity-70">
            <img src="./img/socials/yt.svg" alt="youtube" class="size-10" />
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
