<header class="flex h-[72px] items-center shadow-md xl:h-[90px]">
  <div class="mx-auto flex w-full max-w-[1440px] items-center justify-normal gap-10 px-4 lg:justify-between xl:gap-0 2xl:justify-start">
    <a href="/" class="mr-auto shrink-0 lg:mr-0 xl:mr-[57px]">
      <img src="./img/logo.svg" alt="logo" class="h-auto w-[121px] object-contain sm:w-24 xl:w-40" />
    </a>
    <nav
      id="header-nav"
      class="fixed right-0 top-0 z-20 h-screen w-full max-w-[320px] translate-x-full overflow-auto bg-blue-800 transition-transform duration-500 ease-out lg:static lg:h-auto lg:w-auto lg:max-w-none lg:translate-x-0 lg:bg-transparent xl:mr-auto">
      <div class="w-full h-full relative">
        <ul class="flex w-full flex-col items-center justify-center gap-x-8 gap-y-5 pt-20 lg:w-auto lg:flex-row lg:pt-0">
          <li>
            <a href="removal-guides.html" class="text-base font-medium uppercase leading-tight text-white transition-colors hover:underline lg:text-sm lg:text-neutral-800 lg:hover:text-blue-800 lg:hover:no-underline">REMOVAL GUIDES</a>
          </li>
          <li>
            <a href="news.html" class="text-base font-medium uppercase leading-tight text-white transition-colors hover:underline lg:text-sm lg:text-neutral-800 lg:hover:text-blue-800 lg:hover:no-underline">NEWS</a>
          </li>
          <li>
            <a href="blog.html" class="text-base font-medium uppercase leading-tight text-white transition-colors hover:underline lg:text-sm lg:text-neutral-800 lg:hover:text-blue-800 lg:hover:no-underline">BLOG</a>
          </li>
          <li>
            <a href="top-antivirus.html" class="text-base font-medium uppercase leading-tight text-white transition-colors hover:underline lg:text-sm lg:text-neutral-800 lg:hover:text-blue-800 lg:hover:no-underline">TOP ANTIVIRUS 2023</a>
          </li>
          <li>
            <a href="website-scaner.html" class="text-base font-medium uppercase leading-tight text-white transition-colors hover:underline lg:text-sm lg:text-neutral-800 lg:hover:text-blue-800 lg:hover:no-underline">WEBSITE SCANNER</a>
          </li>
        </ul>
        <div role="button" aria-label="Close menu" id="close-menu" class="group z-[999] absolute top-3 right-3.5 hidden lg:block">
          <div class="relative flex h-[50px] w-[40px] transform items-center justify-center overflow-hidden">
            <div id="burger-inner" class="flex h-[21px] w-[27px] origin-center transform flex-col justify-between overflow-hidden transition-all duration-300">
              <div id="burger-cross" class="absolute top-2.5 flex w-12 translate-x-0 transform items-center justify-between transition-all duration-500 [&>*:nth-child(1)]:rotate-45 [&>*:nth-child(2)]:-rotate-45">
                <div class="absolute h-[2px] w-7 rotate-0 transform rounded-2xl bg-white transition-all delay-300 duration-500"></div>
                <div class="absolute h-[2px] w-7 -rotate-0 transform rounded-2xl bg-white transition-all delay-300 duration-500"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <div data-da="#header-nav,639.98,last" class="flex items-center gap-x-2">
      <button id="open-search" class="hidden size-6 sm:max-xl:block" type="button">
        <img src="./img/search.svg" alt="Open search" />
      </button>
      <form
        action="#"
        id="search-form"
        class="absolute right-0 top-[72px] mx-auto mt-6 hidden h-11 w-full items-center gap-2 border bg-neutral-100 px-3.5 transition focus-within:border-blue-800 max-sm:static max-sm:flex max-sm:w-[80%] max-sm:rounded-[40px] sm:mt-0 xl:static xl:flex xl:w-[280px] xl:rounded-[40px] xl:border-transparent">
        <button class="size-6 shrink-0" type="submit">
          <img src="./img/search.svg" alt="Search" />
        </button>
        <input class="h-full w-full bg-transparent leading-normal text-neutral-800 placeholder:text-neutral-800 focus:outline-none" placeholder="Search" />
      </form>
    </div>
    <div role="button" aria-label="Open menu" id="burger-button" class="group relative z-[999] block lg:hidden">
      <div class="relative flex h-[50px] w-[40px] transform items-center justify-center overflow-hidden">
        <div id="burger-inner" class="flex h-[21px] w-[27px] origin-center transform flex-col justify-between overflow-hidden transition-all duration-300">
          <div class="h-[2px] w-full origin-left transform rounded-2xl bg-neutral-800 transition-all duration-300"></div>
          <div class="h-[2px] w-full transform rounded-2xl bg-neutral-800 transition-all delay-75 duration-300"></div>
          <div class="h-[2px] w-full origin-left transform rounded-2xl bg-neutral-800 transition-all delay-150 duration-300"></div>
        </div>
      </div>
    </div>
  </div>
</header>
