<nav class="mt-10 flex items-center justify-between gap-x-2 sm:gap-x-5" aria-label="Page navigation">
  <a
    href="#"
    class="group flex h-9 items-center justify-center gap-x-2 rounded-full border border-blue-800 px-3 text-sm font-bold leading-tight text-blue-800 transition-colors hover:bg-blue-800 hover:text-white sm:px-5"
    aria-label="Prev page">
    <svg class="size-3 text-blue-800 transition-colors group-hover:text-white">
      <use href="./sprites/sprite.svg#icon-arrow"></use>
    </svg>
    Prev <span class="max-sm:hidden">Page</span>
  </a>
  <div class="flex gap-x-0.5 sm:gap-x-4">
    <a class="flex size-7 items-center justify-center rounded-full bg-gray-100 text-sm font-medium leading-tight" href="#" aria-current="page">1</a>
    <a class="flex size-7 items-center justify-center rounded-full text-sm font-medium leading-tight transition-colors hover:bg-gray-100" href="#">2</a>
    <a class="flex size-7 items-center justify-center rounded-full text-sm font-medium leading-tight transition-colors hover:bg-gray-100" href="#">3</a>
    <a class="flex size-7 items-center justify-center rounded-full text-sm font-medium leading-tight transition-colors hover:bg-gray-100" href="#">4</a>
    <div class="">...</div>
    <a class="flex size-7 items-center justify-center rounded-full text-sm font-medium leading-tight transition-colors hover:bg-gray-100" href="#">24</a>
  </div>
  <a
    href="#"
    class="group flex h-9 items-center justify-center gap-x-2 rounded-full border border-blue-800 px-3 text-sm font-bold leading-tight text-blue-800 transition-colors hover:bg-blue-800 hover:text-white sm:px-5"
    aria-label="Next page">
    Next <span class="max-sm:hidden">Page</span>
    <svg class="size-3 rotate-180 text-blue-800 transition-colors group-hover:text-white">
      <use href="./sprites/sprite.svg#icon-arrow"></use>
    </svg>
  </a>
</nav>
