code:after {
  content: ""  !important;
}
code:before {
  content: "" !important;
}
code p:after {
  content: "";
}
code p:before {
  content: "";
}
blockquote:after {
  content: "";
}
blockquote:before {
  content: "";
}
blockquote p:after {
  content: "";
}
blockquote p:before {
  content: "";
}
q,
q p,
code,
code p,
blockquote,
blockquote p {
  quotes: "" "" "" "";
}
