ol {
  counter-reset: item;
}

ol > li {
  counter-increment: item;
  @apply mb-3 table text-[#0041a1];
  a {
    @apply underline;
  }
}

ol > li:before {
  content: counters(item, ".") ". ";
  @apply table-cell pr-[0.6em];
}

li ol > li {
  @apply m-2;
  &:first-child {
    @apply mt-3;
  }
  &:last-child {
    @apply mb-0;
  }
}

li ol > li:before {
  content: counters(item, ".") " ";
}
