@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@import "ui/burger-button.scss";
@import "ui/search-form.scss";

@layer base {
  body {
    @apply font-roboto text-base font-normal;
  }
  blockquote p:after {
    content: "";
  }
  blockquote p:before {
    content: "";
  }
  q,
  q p,
  blockquote,
  blockquote p {
    quotes: "" "" "" "";
  }
}
